/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@112.5,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer base {
  body {
    letter-spacing: 0.4px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /* font-family: "Source Sans 3", sans-serif; */
    height: 100%;
    /* font-weight: 400; */
  }
}

/* compensate for our scrollLock hook. Is applied to Nav*/
/* [data-scroll-lock] .scrollLock-compensation {
  margin-right: var(--scrollbar-compensation);
} */

/* for the TOC in menubar */
ol li::marker {
 /* content: "✝ "; */
 color: #8b949e;
}

/* For the active slideshow indicators */
.indicators .active {
  background-color: #4b5563 !important;
}

.dark .indicators .active {
  background-color: #d1d5db !important;
}
