/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
/* @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"; */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face { */
/* Load inn a Local font */
/* font-family: "Consolas";
  src: url("../assets/fonts/Consolas/consola.ttf"); */
/* } */

@layer base {
  body {
    /* font-family: "Roboto", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inconsolata", monospace;
    height: 100%;
    font-weight: 400;
  }
}

/* compensate for our scrollLock hook. Is applied to Nav*/
/* [data-scroll-lock] .scrollLock-compensation {
  margin-right: var(--scrollbar-compensation);
} */

/* For the active slideshow indicators */
.indicators .active {
  background-color: #4b5563 !important;
}

.dark .indicators .active {
  background-color: #d1d5db !important;
}
